.button {
  height: 4rem;
  width: 100%;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  outline: 0;
  border: 0;
  transition: filter 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.2rem;
}

/* Button Themes */

.gray {
  background-color: var(--gray-8);
  color: white;

  .adornment {
    height: 2.4rem;
    width: 2.4rem;
    fill: white;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.lightGreen {
  background-color: var(--green-8);
  color: var(--gray-100);

  .adornment {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--gray-64);
  }

  &:hover {
    filter: brightness(0.9);
  }
}