.hero-section-container {
  padding: 8rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;

  @media (--sm-viewport), (--md-viewport) {
    padding: 8rem 2.4rem;
  }
}

.image {
  height: 50rem;
  width: 90%;
}