.header-container {
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-brand-light);
  display: flex;
  border-bottom: 0.1rem solid var(--gray-8);
  position: fixed;
  top: 0;
  left: 0;

  &.fixed {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0.42, 0.83, 0.15);
  }

  .nav-wrapper {
    max-width: 112rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--md-viewport), (--sm-viewport) {
      padding: 0 2.4rem;
      margin: 0;
      width: 100%;
      justify-content: space-between;
    }

    .cvm-logo {
      margin-right: 4.8rem;
      height: 10rem;
      margin-top: 3rem;
    }

    .menu-button {
      width: 4rem;
    }

    .nav-container {
      .nav-item {
        font-size: 1.6rem;
        line-height: 2rem;
        color: var(--gray-80);
        font-weight: 500;
        transition: color 0.3s;

        & + .nav-item {
          margin-left: 4.8rem;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}