.header-menu-modal-container {
  position: relative;
  background-color: var(--primary-brand-light);

  .close-button {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 4rem;
    height: 4rem;

    .close-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    column-gap: 3.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;

    .nav-item-wrapper {
      border-bottom: 0.1rem solid white;
      padding: 2.4rem;
      cursor: pointer;

      .nav-link {
        color: var(--gray-80);
        justify-content: flex-start;
      }

      &:hover {
        .nav-link {
          color: white;
        }
      }
    }
  }
}

