.content-wrapper {
  background-color: white;
  width: 48rem;
  border-radius: 0.8rem;
  padding: 3.2rem;
  max-height: 90vh;
  overflow-y: auto;

  @media (--sm-viewport) {
    width: 30rem;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;

    .title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 500;
    }

    .close-button {
      height: 2.4rem;
      width: 2.4rem;

      .close-icon {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}